<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>servlet.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>servlet.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistScheduleServlet</servlet-name>
        <servlet-class>servlet.Schedule.RegistScheduleByMentorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewScheduleServlet</servlet-name>
        <servlet-class>servlet.Schedule.ViewScheduleMentorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>servlet.Schedule.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewScheduleMemberServlet</servlet-name>
        <servlet-class>servlet.Schedule.ViewScheduleMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisScheduleByMemberServlet</servlet-name>
        <servlet-class>servlet.Schedule.RegisScheduleByMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailSlotServlet</servlet-name>
        <servlet-class>servlet.detailSlotAndRating.DetailSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBookingSlotServlet</servlet-name>
        <servlet-class>servlet.Booking.DetailBookingSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingSlotServlet</servlet-name>
        <servlet-class>servlet.Booking.BookingSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStaffAccountServlet</servlet-name>
        <servlet-class>servlet.ManageAccount.ManageStaffAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStaff</servlet-name>
        <servlet-class>servlet.ManageAccount.ManageStaff.ListStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaffServlet</servlet-name>
        <servlet-class>servlet.ManageAccount.ManageStaff.CreateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveScheduleMember</servlet-name>
        <servlet-class>servlet.Schedule.RemoveScheduleMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveScheduleMentor</servlet-name>
        <servlet-class>servlet.Schedule.RemoveScheduleMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveScheduleMentorServlet</servlet-name>
        <servlet-class>servlet.Schedule.RemoveScheduleMentorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistScheduleServlet</servlet-name>
        <url-pattern>/RegistScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewScheduleServlet</servlet-name>
        <url-pattern>/ViewScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewScheduleMemberServlet</servlet-name>
        <url-pattern>/ViewScheduleMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisScheduleByMemberServlet</servlet-name>
        <url-pattern>/RegisScheduleByMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailSlotServlet</servlet-name>
        <url-pattern>/DetailSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBookingSlotServlet</servlet-name>
        <url-pattern>/DetailBookingSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingSlotServlet</servlet-name>
        <url-pattern>/BookingSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStaffAccountServlet</servlet-name>
        <url-pattern>/ManageStaffAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStaff</servlet-name>
        <url-pattern>/ListStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaffServlet</servlet-name>
        <url-pattern>/CreateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveScheduleMember</servlet-name>
        <url-pattern>/RemoveScheduleMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveScheduleMentor</servlet-name>
        <url-pattern>/RemoveScheduleMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveScheduleMentorServlet</servlet-name>
        <url-pattern>/RemoveScheduleMentorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
